specificationVersion: jobtemplate-2023-09
name: EnvStdoutUnsetVar
jobEnvironments:
  - name: UnsetEnv
    variables:
      UNSET_ME: "original_value"
    script:
      actions:
        onEnter:
          command: bash
          args: ["-c", "echo 'openjd_unset_env: UNSET_ME'"]
steps:
  - name: Step1
    script:
      actions:
        onRun:
          command: bash
          args: ["-c", "echo UNSET_ME_IS:${UNSET_ME:-UNSET}"]
